textarea{
  text-size-adjust: none;
}
.markdown-section {
  overflow: visible !important;
}

.api-container {
  margin: 0px 0px;
  transition: margin 300ms, box-shadow 300ms;
}

.api-container {
  height: auto;
}

.api-container .api-header {
  color: #1472FF;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.api-container .api-content {
  background: #FAFAFA;
  height: auto;
  overflow: hidden;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.params-title{
  margin: 0 !important;
  margin-bottom: 8px !important;
  font-size: 16px;
  color: #333333;
}

.params-content, .response-content{
  resize: none;
  outline: none;
  min-width: 349px;
  min-height: 344px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 12px;
}

.btn{
  outline: none;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  padding: 8px 20px;
}
.reset-btn{
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
}
.reset-btn:hover{
  opacity: .8;
}
.request-btn{
  color: #fff;
  background-color: #3280fc;
}
.request-btn:hover{
  opacity: .8;
}
.btn + .btn{
  margin-left: 12px;
}
.disabled-btn{
  background-color: #a0cfff;
  border-color: #a0cfff;
  cursor: not-allowed !important;
}

.api-footer{
  background: #fafafa;
  padding: 24px 0 8px;
}
.footer-inner{
  min-width: 349px;
  text-align: right;
}
.icon-btn-right{
  transform: rotate(0);
  transition: all .2s;
}
.arrow-down{
  transform: rotate(90deg);
  transition: all .2s;
}