.markdown-section {
  overflow: visible !important;
}

.api-container {
  margin: 0px 0px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  transition: margin 300ms, box-shadow 300ms;
}

.api-container.expanded {
  margin: 0px -16px;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.25);
}

.api-container .api-header {
  line-height: 26px;
  padding: 10px;
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.api-container .api-header small {
  background-color: #444444;
  background-image: linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.1) 50%);
  color: #FFFFFF;
  font-size: 9px !important;
  margin-right: 8px;
  padding: 0px 4px;
  font-weight: bold;
  display: block;
  line-height: 28px;
  height: 28px;
  width: 46px;
  text-align: center;
}

.api-container .api-header small.get {
  background-color: #226ca0;
}

.api-container .api-header small.put {
  background-color: #a08022;
}

.api-container .api-header small.post {
  background-color: #46a022;
}

.api-container .api-header small.delete {
  background-color: #a02222;
}

.api-container .api-header h2 {
  display: block;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  white-space: nowrap;
  line-height: 28px;
  height: 26px;
}

.api-container .api-header span {
  display: block;
  color: #266D9E;
  font-size: 11px;
  padding: 0px 8px;
  border: 1px solid #266D9E;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.api-container .api-content {
  height: 0px;
  overflow: hidden;  
}

.api-container .api-content div {
  padding: 20px 20px 10px 20px;
}

.api-container .api-content div h3 {
  padding: 14px 0px;
  margin: 0px;
  border-top: 1px solid #EEE;
  color: #537186;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.api-container .api-content div pre {
  line-height: 18px;
  font-size: 15px;
}

.api-container.expanded .api-content {
  height: auto;
}
